.main-assets {
    position: relative;
}

.main-assets img {
    width: 100%;   
    z-index: -1;
}

button:focus, img:focus, p:focus {
    outline: 0;
}

.main-assets p, .main-assets button, .d-design p, .d-design button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-assets p {
    color: #fff;
    letter-spacing: 3px;
}

.exp {
    top: 7%;
    padding: 5px;
    border-bottom: 2px solid #fff;
    font-size: 32px;
}

.perf {
    top: 15%;
}

.expl-btn {
    bottom: 7%;
    height: 50px;
    width: 220px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #242424;
    cursor: pointer;
    transition: 150ms;
    border: 2px solid #fff;
}

.expl-btn:hover {
    background-color: #0000;
    color: #fff;
}

.shopping-tools {
    margin: 45px auto 0 auto;
    text-align: center;
    width: 98%;
    padding-bottom: 45px;
    border-bottom: 1px solid #bdbbbb;
}

.st-logo {
    font-size: 23px;
    letter-spacing: 1px;
    color: #242424;
    margin-bottom: 40px;
}

.st-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-item {
    display: flex;
    flex-direction: column;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    color: #242424;
    transition: 150ms;
}

.st-item:hover {
    opacity: 0.85;
    cursor: pointer;
}

.st-item img {
    margin-bottom: 10px;
}

.vehicles-offers {
    margin: 45px auto 55px auto;
    width: 88%;
    letter-spacing: 1px;
}

.centered {
    text-align: center;
}

.vo-assets {
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
}

.vo-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.vo-subtitle {
    font-size: 12px;
    margin-bottom: 20px;
}

.vo-design {
    text-align: center;
}

.vo-design img {
    margin-bottom: 25px;
}

.vo-design button {
    height: 50px;
    width: 220px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #242424;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #000;
    transition: 150ms;
}

.vo-design button:hover {
    background-color: #000;
    color: #fff;
}

.discover-lex {
    padding-top: 45px;
    border-top: 1px solid #bdbbbb;
    width: 98%;
    margin: 0 auto 45px auto;
    padding-bottom: 45px;
}

.d-assets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.d-ls, .d-ux, .d-nx {
    position: relative;
}

.d-design p {
    bottom: 20%;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.d-design button {
    bottom: 1%;
    height: 50px;
    width: 220px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #242424;
    cursor: pointer;
    border: 2px solid #fff;
    transition: 150ms;
}

.d-design button:hover {
    background-color: #0000;
    color: #fff;
}

.d-design {
    overflow: hidden;
    cursor: pointer;
}

.d-design img {
    transition: all 0.5s ease;
    display: block;
}

.d-design img:hover {
    transform: scale(1.2);
}