<div class="footer-container">
    <footer>
        <p id="warning" style="font-weight: bold; text-decoration: underline;">DO NOT SELL MY PERSONAL INFORMATION</p>
    
        <div class="box-footer">
            <div class="fst-quarter">
                <div class="info">
                    <h4>ABOUT<br><br></h4>
                    <h4>CONTACT US<br><br></h4>
                    <h4>ACCESSIBILITY<br><br></h4>
                    <h4>CAREERS<br><br></h4>
                    <h4>REQUEST BROCHURE<br><br></h4>
                    <h4>NEWSLETTER SIGNUP<br><br></h4>
                    <h4>PRESS RELEASES<br><br></h4>
                    <h4>PRIVACY<br><br></h4>
                    <h4>CALIFORNIA PRIVACY<br><br></h4>
                    <h4>LEGAL<br><br></h4>
                    <h4>COOKIE CONSENT OPTIONS<br><br></h4>
                </div>
            </div>
            
            <div class="snd-quarter">
                <div class="info" style="margin-bottom: 100px;">
                    <h4 style="margin-bottom: 20px;">LEASING & FINANCE</h4>
                    <p>APPLY FOR CREDIT</p>
                    <p>REWARD & FINANCE PROGRAMS</p>
                    <p>END OF LEASE OPTIONS</p>
                    <p>BUY OR LEASE QUIZ</p>
                </div>
    
                <div class="info">
                    <h4 style="margin-bottom: 20px;">HELP & SUPPORT</h4>
                    <p>ROADSIDE ASSISTANCE</p>
                    <p>BLUETOOTH</p>
                    <p>NAVIGATION</p>
                    <p>MAINTENANCE</p>
                    <p>SAFETY FAQ</p>
                    <p>WARRANTY</p>
                    <p>FAQ</p>
                </div>
            </div>
    
            <div class="trd-quarter">
                <div class="info"  style="margin-bottom: 20px;">
                    <h4 style="margin-bottom: 20px;">OWNERS</h4>
                    <p>OWNER BENEFITS</p>
                    <p>MOBILE PHONE APPS</p>
                    <p>PAY MY BILL</p>
                    <p>DRIVERS WEBSITE</p>
                    <p>SHOP ACCESSORIES</p>
                    <p>SHOP PARTS</p>
                </div>
    
                <div class="info">
                    <h4 style="margin-bottom: 20px;">BRAND & LIFESTYLE</h4>
                    <p>SEE LEXUS</p>
                    <p>LEXUS PERFORMANCE</p>
                    <p>MOTORSPORTS</p>
                    <p>TUNED CARS</p>
                    <p>SAFETY TECHNOLOGY</p>
                    <p>LEXUS HYBRIDS</p>
                    <p>LEXUS MERCHANDISE</p>
                    <p>LEXUS INTERNATIONAL</p>
                    <p>INTERSECT BY LEXUS – NYC</p>
                    <p>LEXUS LY 650 YACHT</p>
                </div>
            </div>
    
            <div class="fth-quarter">
                <div class="info">
                    <h4 style="margin-bottom: 20px;">SERVICE & WARRANTY</h4>
                    <p>MAINTENANCE SCHEDULE</p>
                    <p>FIND A DEALER</p>
                    <p>WARRANTY COVERAGE</p>
                    <p>SERVICE BY LEXUS</p>
                    <p>LEXUS TIRE CENTER</p>
                </div>
            </div>
        </div>

        <div class="outer">
            <p id="safety">Safety Recalls & Service Campaigns</p>
            <p id="copyright">©2006-2021 Lexus, a Division of Toyota Motor Sales, U.S.A., Inc. All information contained herein applies to U.S vehicles only</p>
        </div>
    </footer>
</div>