<div class="header-container" style="height: 90px;">
    <div class="box">
        <img [routerLink]="['']" class="logo" src="../../../assets/images/logo_second.png" width="100">
        
        <div class="right-side">
            <div class="car-bodies">
                <p [routerLink]="['/sedans']">SEDANS</p>
                <p [routerLink]="['/suvs']">SUVS</p>
                <p [routerLink]="['/coupes']">COUPES</p>
                <p [routerLink]="['/hybrids']">HYBRIDS</p>
                <p [routerLink]="['/performance']">PERFORMANCE</p>
                <p [routerLink]="['/future']">FUTURE</p>
            </div>
    
            <div class="credits">
                <p [routerLink]="['/owners']">Owners</p>
                <p [routerLink]="['/l-certified']">L/Certified</p>
                <p [routerLink]="['/dealers']">Find A Dealer</p>
                <img src="../../../assets/images/search.png" (click)="search()" width="30" height="30">
            </div>
        </div>

        <div class="menu-button">
            <h2>MENU</h2>
            <div class="burger" (click)="slide()">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="search-box">
        <img src="../../../assets/images/search.png" width="30" height="30">

        <input type="text" class="search-input" placeholder="SEARCH">

        <img src="../../../assets/images/cancel.png" (click)="search()" width="30" height="30">
    </div>

    <div class="mobile">
        <div class="mobile-search" (click)="search()">
            <img src="../../../assets/images/search-white.png" width="25" height="25" style="margin: 0px">
            <p style="font-size:25px">SEARCH</p>
        </div>
        <p>SEDANS</p>
        <p>SUVS</p>
        <p>COUPES</p>
        <p>HYBRIDS</p>
        <p>PERFORMANCE</p>
        <p>FUTURE</p>
        <p>Owners</p>
        <p>L/Certified</p>
        <p>Find A Dealer</p>
    </div>
</div>