.box, .right-side, .credits {
    display: flex;
    align-items: center;
}

.box {
    width: 100%;
    height: 90px;
    font-weight: bold;
    color: #2f2f2f;
    justify-content: space-between;
}

img:focus, p:focus {
    outline: 0;
}

img:hover, p:hover {
    cursor: pointer;
}

p:hover {
    opacity: 0.85;   
    transition: 100ms;
}

.right-side {
    justify-content: space-between;
    width: 900px;
}

.car-bodies {
    display: flex;
    justify-content: space-around;
    letter-spacing: 1px;
    width: 600px;
    font-size: 13px;
}

.credits {
    justify-content: space-around;
    width: 280px;
    font-size: 10px;
    font-weight: bolder;
}

.search-box {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    margin-top: -90px;
    margin-left: -2000px;
    font-size: 8px;
    width: 100%;
    border: black;
    height: 90px;
}

.search-input {
    width: 90%;
    height: 100%;
    font-size: 22px;
    letter-spacing: 2px;
    border: none;
    outline: none;
    margin: 0px 20px 0px 20px;
    color: #757575;
}

img {
    margin: 20px;
}

.menu-button {
    display: none;
}

.mobile {
    display: none;
}

.burger {
    margin: 20px;
    cursor: pointer;  
}

.burger div {
    border-radius: 1px;
    width: 25px;
    height: 3px;
    background-color: rgb(160, 160, 160);
    margin: 5px;
}

@media screen and (max-width:1100px) {
    .menu-button {
        display: flex; 
        align-items: center;
    }
    .mobile {
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 500px;
        color: white;
        background-color: black;
    }
    .mobile p {
        text-align: center;
        border-bottom: 1px solid white;
        color: white;
        padding: 15px;
    }
    .mobile-search {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
    }
    .mobile-search p { 
        border: none;
    }
    .right-side, .car-bodies, .credits {
        display: none;
    }
}

.show {
    height: 0px;
}

.search-active {
    margin-left: 0px;
}

.slide-active {
    height: 0px;
    display: none;
}