p, h3, h2 {
    letter-spacing: 1px;
}

.box-1 {
    display: grid;
    gap: 50px;
    margin: 55px;
}

.b-font {
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
}

.minibox1 {
    margin-left: 34px;
    max-width: 300px;
    min-height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    grid-column: 1/2;
    text-align: center;
}

.minibox1 h5, .minibox1 p, .minibox1 h3 {
    margin-top: 10%;
}

.minibox1 p {
    font-size: 30px;
}

.minibox2 {
    margin-left: 34px;
    max-width: 300px;
    min-height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    grid-column: 2/3;
    text-align: center;
}

.minibox2 h5, .minibox2 p, .minibox2 h3 {
    margin-top: 10%;
}

.minibox2 p {
    font-size: 30px;
}

.minibox3 {
    margin-left: 34px;
    max-width: 300px;
    min-height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    grid-column: 3/4;
    text-align: center;
}

.minibox3 h5, .minibox3 p, .minibox3 h3 {
    margin-top: 10%;
}

.minibox3 p {
    font-size: 30px;
}

.box-search {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
}

button {
    height: 50px;
    width: 220px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transition: 150ms;
    border: 2px solid #000;
}

button:hover {
    background-color: #000;
    color: #fff;
}

/*------------------------------------------------*/

.box-2 {
    width: 70%;
    margin-left: 15%;
    font-size: 13px;
}

.minibox2-1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 13px;
}

.minibox2-1 p {
    margin-top: 10px;
}

.minibox2-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 34% 34% 34%;
}

.minibox2-2-1 {
    text-align: center;
    margin: 25px 20px 40px 0px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 13px;
}

/*box---------3*/

.box-4 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-4 img {
    transition: .3s;
}

.box-4 img:hover {
    filter: brightness(50%);
}

.box-4 h3 {
    margin-bottom: 30px;
}

/*BOX-----5*/

.box-5 {
    margin-top: 100px;
    width: 70%;
    margin-left: 15%;
    font-size: 15px;
}

.minibox5-1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    font-size: 14px;
}

.box-6 {
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    margin-bottom: 50px;
}

.minibox6-2-1 {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}