<div class="container">
	<div class="box-1">
		<div class="minibox1">
			<h3 style="letter-spacing: 1px; font-size: 16px;">FINANCE</h3>
			<p>2017 IS</p>
			<h5 class="b-font">Expires 05/03/2021. 60 Monthly Payments of $16.67 per $1,000 Financed on L/Certified IS models.</h5>
		</div>

		<div class="minibox2">
			<h3 style="letter-spacing: 1px; font-size: 16px;">FINANCE</h3>
			<p>2018 IS</p>
			<h5 class="b-font">Expires 05/03/2021. 60 Monthly Payments of $16.67 per $1,000 Financed on L/Certified IS models.</h5>
		</div>

		<div class="minibox3">
			<h3 style="letter-spacing: 1px; font-size: 16px;">FINANCE</h3>
			<p>2017 IS</p>
			<h5 class="b-font">Expires 05/03/2021. 60 Monthly Payments of $17.48 per $1,000 Financed on L/Certified IS models.</h5>
		</div>

		<div class="box-search">
			<button style="margin-right: 20px;">SEARCH INVENTORY</button>
			<button>VIEW ALL OFFERS</button>
		</div>
	</div>

	<div class="box-2">
		<div class="minibox2-1">
			<h2>WHY L/CERTIFIED BY LEXUS?</h2>
			<p class="b-font">
				2021 marks the fourth year in a row that U.S. News & World Report has named L/Certified by Lexus the
				“Best CPO Program.”​* With industry-leading benefits,* innovative design and thrilling performance,
				L/Certified by Lexus puts your dream car in your driveway. Indulge in a three-month Lexus Enform trial*
				that includes Safety Connect,* Service Connect,* Enform Remote* and available Destination Assist* when
				you purchase an L/Certified 2018 or newer vehicle. Each meticulously selected pre-owned vehicle awaits
				its soulmate, exclusively at your Lexus dealer.
			</p>
		</div>

		<div class="minibox2-2">
			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/certification.png">
				<h4>CERTIFICATION</h4>
				<p class="b-font">Lexus technicians put each pre-owned vehicle through a comprehensive 161-point inspection to help
					ensure the highest quality.</p>
			</div>

			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/warranty.png">
				<h4>WARRANTY</h4>
				<p class="b-font">Lexus offers the peace of mind of an unlimited-mileage vehicle warranty.</p>
			</div>

			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/complimentaryMaint.png">
				<h4>COMPLIMENTARY</h4>
				<p class="b-font">Each L/Certified vehicle includes factory-recommended maintenance for two years or 20,000 miles,
					whichever comes first.</p>
			</div>

			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/roadsideAssistance.png">
				<h4>ROADSIDE ASSISTANCE</h4>
				<p class="b-font">Every vehicle comes with the reassurance of 24/7 Lexus Roadside Assistance.</p>
			</div>

			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/financialServices.png">
				<h4>LEXUS FINANCIAL SERVICES</h4>
				<p class="b-font">Learn about our compelling financing and vehicle protection options for L/Certified by Lexus
					vehicles.
				</p>
			</div>

			<div class="minibox2-2-1">
				<img src="https://www.lexus.com/cm-img/cpo/icons/programComparison.png">
				<h4>COMPETITIVE PROGRAM COMPARISON</h4>
				<p class="b-font">See how the comprehensive L/Certified by Lexus certification compares to other manufacturers' CPO
					programs.
				</p>
			</div>
		</div>
	</div>

	<div class="box-3"></div>

	<div class="box-4">
		<h3>EVERYONE DESERVES TO LOVE WHAT THEY DRIVE.</h3>
		<a href="https://www.youtube.com/watch?v=QkJk-HtV6Do&t=1s">
			<img src="../../../assets/images/l-certified.jpg" width="800">
		</a>
	</div>

	<div class="box-5">
		<div class="minibox5-1">
			<h3>3G NETWORK RETIREMENT</h3>
			<p class="b-font">
				Certain telecommunications providers have elected to discontinue 3G wireless services by the end of 2022,
				affecting select 2010-2018 Lexus Vehicles reliant on this network to provide Lexus Enform subscription
				services. As of October 31, 2022, at 11:59PM CST, Lexus Enform Safety Connect, Destination Assist,
				Remote, and Service Connect subscription services will be discontinued on select 2010-2018 vehicles.
			</p>
		</div>
	</div>

	<div class="box-6">
		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/tradeIn.png">
			<p>CALCULATE KBB TRADE-IN VALUE</p>
		</div>

		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/inventorySearch.png">
			<p> INVENTORY SEARCH</p>
		</div>

		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/findADealer.png">
			<p>FIND A LEXUS DEALER</p>
		</div>

		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/lexusDrivers.png">
			<p>LEXUS DRIVERS</p>
		</div>

		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/programComparison.png">
			<p>COMPETITIVE PROGRAM COMPARISON</p>
		</div>

		<div class="minibox6-2-1">
			<img src="https://www.lexus.com/cm-img/cpo/subfooter/share.png">
			<p (click)="share()">SHARE THIS PAGE</p>
		</div>
	</div>
</div>