<div @tr class="car-container">
    <div class="showcase">
        <img [src]="car.photoForShow" width="100%">
        <p class="model">THE 2021 {{car.modelName}}</p>
        <p class="price">STARTING AT ${{car.startingPrice}}</p>
        <button #btn class="expl-btn expl-btn-d" (click)="swapFlag()">EXPLORE</button>
    </div>    

    <div *ngIf="flag" @tr>
        <div class="eng-gear">
            <p class="hdr-logo">ENGINES & GEARBOXES</p>

            <p class="desc">Available Engine: 
                {{engine.volume}} liter {{engine.configuration}} with {{engine.power}} brake horse powers
            </p>

            <p class="desc">Available Gearbox: 
                {{gearBox.gearCount}} speed {{gearBox.type}}
            </p>
        </div>

        <div class="dim">
            <p class="hdr-logo">DIMENSIONS</p>

            <table class="dim-content">
                <thead>
                    <tr>
                        <th>LENGTH</th>
                        <th>WIDTH</th>
                        <th>HEIGHT</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{dimensions[0]}}</td>
                        <td>{{dimensions[1]}}</td>
                        <td>{{dimensions[2]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>