<div @tr class="build-your-lexus-container">
    <div class="title">
        <h1>SELECT A MODEL TO DIVE</h1>
        <h2>WE'LL MATCH YOU UP WITH A LEXUS YOU'LL LOVE</h2>
    </div>
    <div class="cars-gallery">
        <div *ngFor="let car of cars" class="car-detail"  routerLink="/models/{{car.modelName}}">
            <img [src]="car.photoForList">
            <div class="space-between">
                <div>
                    <p class="car-model">{{car.modelName}}</p>
                    <p class="car-starting-price">STARTING AT ${{car.startingPrice}}*</p>
                </div>
                <button class="build-button"  routerLink="/build-your-lexus">DIVE</button>
            </div>
        </div>
    </div>
</div>