<div @tr class="build-lexus-container">
    <div @tr class="create-own">
        <p>BUILD IT NOW</p>
        <video autoplay loop width="100%">
            <source src="../../../assets/videos/IS_Hero.mp4">
        </video>

        <button (click)="swapFlag()" class="expl-btn-d expl-btn">BUILD YOUR LEXUS</button>
    </div>

    <div @tr *ngIf="flag" class="inputs">
        <input type="text" placeholder="MODEL NAME" class="details-in" name="" [(ngModel)]="modelName">

        <input type="text" placeholder="BODY TYPE" class="details-in" name="" [(ngModel)]="body">

        <input type="text" placeholder="STARTING PRISE" class="details-in" name="" [(ngModel)]="startingPrise">

        <input type="text" placeholder="EXISTING ENGINE ID" class="details-in" name="" [(ngModel)]="engineId">

        <input type="text" placeholder="EXISTING GEARBOX ID" class="details-in" name="" [(ngModel)]="gearboxId">

        <button class="build" (click)="buildCar()">BUILD</button>
        <button class="build" (click)="logout()">LOGOUT</button>
    </div>
</div>