*:focus {
    outline: 0;
}

.create-own {
    position: relative;
}

.create-own p, .create-own button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.create-own p {
    top: 7%;
    padding: 5px;
    font-size: 32px;
    color: #fff;
    letter-spacing: 3px;
    border-bottom: 2px solid #fff;
}

.expl-btn-d {
    height: 50px;
    width: 230px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #242424;
    cursor: pointer;
    transition: 150ms;
    border: 2px solid #fff;
}

.expl-btn {
    bottom: 7%;
}

.expl-btn:hover {
    background-color: #0000;
    color: #fff;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 440px;
    margin: 30px 0 30px 0;
}

.details-in {
    width: 350px;
    height: 40px;
    font-size: 16px;
    padding-left: 7px;
    border: 2px solid rgb(110, 107, 107);
    border-radius: 5px;
    font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
    color: #111c2b;
    font-weight: bolder;
    letter-spacing: 1px;
}

.build {
    text-align: center;
    height: 50px;
    width: 220px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 150ms;
    color: #000;
    border: 2px solid #000;
    background-color: #fff;
}

.build:hover {
    color: #fff;
    background-color: #000;
}